
body {
    background-color: dimgray;

}



.title-text {
    color: rgb(139, 32, 53);
}


.intro-text {
    font-family: 'Courier New', Courier, monospace;
}

.tier-list-box {
    border: solid 5px rgb(0, 0, 0); 
    width: 400px; 
    display: flex; 
    flex-direction: row;
}

.tier-s {
    
}